.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: rgba(104, 177, 150, 0.5);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer-left img.footer-logo {
  width: 150px;
  height: auto;
}

.footer-center p {
  font-size: 0.9rem;
  color: var(--black);
  text-align: center;
}

.footer-right {
  display: flex;
  gap: 1.4rem;
}

.footer-right a {
  text-decoration: none;
  color: var(--black);
}

.icon-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.icon-footer-wrapper p {
  font-size: 0.7rem;
  margin: 0;
  color: var(--black);
}

.icon-footer-wrapper:hover {
  color: var(--primary);
}

.icon-footer-wrapper svg {
  width: 24px;
  height: 24px;
}

/* ===== Mobile layout changes ===== */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
  }

  .footer-left {
    justify-content: flex-start;
  }

  .footer-right {
    justify-content: flex-end;
    gap: 1rem;
    flex: 1;
  }

  .footer-left,
  .footer-right {
    width: 50%;
  }

  .footer-center {
    width: 100%;
    margin-top: 0.8rem;
    text-align: center;
  }

  .icon-footer-wrapper svg {
    width: 20px;
    height: 20px;
  }

  .footer-center p {
    font-size: 0.8rem;
  }

  .footer {
    align-items: stretch;
  }
}
