.stations-container {
  width: 90%;
  margin: auto;
  padding: 4rem 0rem;
}
.stations-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: span 3;
  gap: 2rem;
}

.station-item {
  padding: 2rem;
  background: var(--search);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: subgrid;
  grid-row: span 3;
  cursor: pointer;
}

.station-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 3;
  img {
    width: 70%;
    height: auto;
  }
}

.station-description {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0.5rem;
}
.pagination-controls {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .stations-list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .stations-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.loading {
  margin: auto;
  text-align: center;
}
